body {
    margin: 0;
}

h1 {
    font-size: 25px;
    margin-top: 15px;
}

p {
    font-size: 16px;
    margin-top: 20px;
}

h2 {
    font-size: 23px;
    margin-top: 20px;
}

 ol {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 img {
    margin-left: 35px;
    margin-bottom: 20px;
    width: 300px;
    height: 400px;
 }

 span {
    font-size: 16px;
    margin-left: 35px;
 }

 ul {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 button {
    margin-bottom: 20px;
 }